<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>JuPao_Produce.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>3</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>DCF875B6F1590794F632AA39E3CC8A0E4444592F</string>
				<key>dateExpires</key>
				<string>2022/4/18</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DCF875B6F1590794F632AA39E3CC8A0E4444592F</string>
						<key>dateExpires</key>
						<string>2022/4/18</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>AFNetworking.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>PKZRZ28357</string>
						<key>name</key>
						<string>Wenwen Guo</string>
					</dict>
					<key>versionNumber</key>
					<string>4.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DCF875B6F1590794F632AA39E3CC8A0E4444592F</string>
						<key>dateExpires</key>
						<string>2022/4/18</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Aspects.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>PKZRZ28357</string>
						<key>name</key>
						<string>Wenwen Guo</string>
					</dict>
					<key>versionNumber</key>
					<string>1.4.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DCF875B6F1590794F632AA39E3CC8A0E4444592F</string>
						<key>dateExpires</key>
						<string>2022/4/18</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>IQKeyboardManagerSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>PKZRZ28357</string>
						<key>name</key>
						<string>Wenwen Guo</string>
					</dict>
					<key>versionNumber</key>
					<string>6.2.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DCF875B6F1590794F632AA39E3CC8A0E4444592F</string>
						<key>dateExpires</key>
						<string>2022/4/18</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>KSAdSDK.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>PKZRZ28357</string>
						<key>name</key>
						<string>Wenwen Guo</string>
					</dict>
					<key>versionNumber</key>
					<string>3.3.24</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DCF875B6F1590794F632AA39E3CC8A0E4444592F</string>
						<key>dateExpires</key>
						<string>2022/4/18</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>KeychainAccess.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>PKZRZ28357</string>
						<key>name</key>
						<string>Wenwen Guo</string>
					</dict>
					<key>versionNumber</key>
					<string>3.2.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DCF875B6F1590794F632AA39E3CC8A0E4444592F</string>
						<key>dateExpires</key>
						<string>2022/4/18</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>MJRefresh.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>PKZRZ28357</string>
						<key>name</key>
						<string>Wenwen Guo</string>
					</dict>
					<key>versionNumber</key>
					<string>3.1.12</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DCF875B6F1590794F632AA39E3CC8A0E4444592F</string>
						<key>dateExpires</key>
						<string>2022/4/18</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SDWebImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>PKZRZ28357</string>
						<key>name</key>
						<string>Wenwen Guo</string>
					</dict>
					<key>versionNumber</key>
					<string>5.7.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DCF875B6F1590794F632AA39E3CC8A0E4444592F</string>
						<key>dateExpires</key>
						<string>2022/4/18</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SVProgressHUD.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>PKZRZ28357</string>
						<key>name</key>
						<string>Wenwen Guo</string>
					</dict>
					<key>versionNumber</key>
					<string>2.2.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DCF875B6F1590794F632AA39E3CC8A0E4444592F</string>
						<key>dateExpires</key>
						<string>2022/4/18</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SnapKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>PKZRZ28357</string>
						<key>name</key>
						<string>Wenwen Guo</string>
					</dict>
					<key>versionNumber</key>
					<string>4.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DCF875B6F1590794F632AA39E3CC8A0E4444592F</string>
						<key>dateExpires</key>
						<string>2022/4/18</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SwiftyJSON.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>PKZRZ28357</string>
						<key>name</key>
						<string>Wenwen Guo</string>
					</dict>
					<key>versionNumber</key>
					<string>5.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DCF875B6F1590794F632AA39E3CC8A0E4444592F</string>
						<key>dateExpires</key>
						<string>2022/4/18</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>YYModel.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>PKZRZ28357</string>
						<key>name</key>
						<string>Wenwen Guo</string>
					</dict>
					<key>versionNumber</key>
					<string>0.9.12</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>PKZRZ28357.cn.com.xinwei.zhongye</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>com.apple.developer.applesignin</key>
				<array>
					<string>Default</string>
				</array>
				<key>com.apple.developer.associated-domains</key>
				<array>
					<string>applinks:jupaokeji.com</string>
				</array>
				<key>com.apple.developer.team-identifier</key>
				<string>PKZRZ28357</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>JuPao_Produce.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>1a38777c-f76c-43fd-bf1e-f4df639a6101</string>
				<key>dateExpires</key>
				<string>2022/9/27</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: cn.com.xinwei.zhongye</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>PKZRZ28357</string>
				<key>name</key>
				<string>Wenwen Guo</string>
			</dict>
			<key>versionNumber</key>
			<string>4.5.0</string>
		</dict>
	</array>
</dict>
</plist>
